
  <!-- <header [canShowMenu]=true [showBackButton]=true></header> -->
  <ion-header>
      <ion-navbar>
        <ion-row>
                <ion-col col-2>
                        <ion-icon *ngIf="!hideBackButton && !fromPage" name="arrow-back" class="backIco" (click)="gotoPage('HomePage')"></ion-icon>
                        <ion-icon *ngIf="fromPage" name="arrow-back" class="backIco" (click)="goBack()"></ion-icon>
                    </ion-col>
            <ion-col col-8>
                <figure no-margin>
                    <img *ngIf="!fromPage" src="{{userdataProvider?.selectMallLogo}}" (click)="gotoPage('HomePage')">
                </figure>
            </ion-col>
            <ion-col col-2 *ngIf="!fromPage">
                <button   ion-button icon-only menuToggle>
                <ion-icon  tappable name="menu"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>




<ion-content no-padding no-bounce>
  <figure no-margin class="fixedHeight">
    <img src="assets/images/appDetails.jpg" />
    <figcaption>
        <h3><strong>{{ "TERMS_PAGE.STATIC_TEXT.TERMS" | translate }} &</strong> {{ "TERMS_PAGE.STATIC_TEXT.CONDITIONS" | translate }}.</h3>
      </figcaption>
  </figure>
  
  <ion-card-content>
    <article *ngFor="let term of termsDetails">
        <section *ngIf="term?.key=='registrationterms'">
            <p [innerHtml]="term?.datavalue | safehtml"></p>
        </section>
      </article>
    </ion-card-content>
</ion-content>