page-forgot-password {
    .scroll-content{
        border: 2px solid #555;
    }
    h3{
        color: $secondary;
        margin: 40px 0 !important;
        text-transform: uppercase;
    }
    // p{
    //     color:$light-xx;
    //     margin: 40px 0 !important;
    //     white-space: pre-line;
    // }
    p{
        margin: 0 0 10px 0;
        white-space: pre-line;
        color:$light-xx;
        font-size: 14px;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
    button{
        margin-top: 40px !important;
    }
    .modalContent{
        border-radius: 0 !important;
        padding: 15px !important;
    }
    .Modalheader{
        display: none;
    }
    .modalContent p {
        color: #000;
        font-size: 16px;
        text-align: center;
        line-height: 20px !important;
    }
    .modalContent button{
        margin-top: 0 !important;
    }
    .resetPasswordTxt{
        font-size: 15px;
        text-transform: uppercase;
        line-height: normal;
        margin:15px 0;
        padding: 0;
        text-align: left;
        color: #9f295a;
        border-bottom: none;
    }
    ion-item{
        ion-input{
            border: 1px solid #000;
            height: 40px;
            padding-top: 4px;
            margin-bottom: 0;
        }
    } 
    .list-md{
        .item-block{
            .item-inner{
                border-bottom:none;
            }
        } 
    } 
    .item-md.item-block{
        .item-inner{
            padding: 0;
        }
    } 
}
