<!-- <ion-header>
      <ion-navbar>
            <ion-row>
                  <ion-col col-2>
                        <ion-icon name="arrow-back" class="backIco" (click)="gotoPage('LoginPage')"></ion-icon>
                  </ion-col>
                  <figure no-margin>
                        <img src="assets/images/outerlogo.svg" />
                  </figure>
            </ion-row>

      </ion-navbar>
</ion-header> -->
<header [canShowMenu]=false [showBackButton]=true>
</header>
<ion-content padding>
      <ion-list *ngIf="isOtpMatched">
            <ion-card-header padding>
                  <h3 class="resetPasswordTxt">Forgot Password?</h3>
                  <p>Enter your email address below and we'll send you a link to reset your password.</p>
                  <!-- <p>To reset your password we will send an OTP to verify your email address. Submit your registered email address.</p> -->
                  <form [formGroup]="forgotPassowrdForm" (ngSubmit)="ResetPasswordLink()">
                        <ion-item *ngIf="username?.hasError('required') && username?.touched" item-left>
                                <p text-left class="error">*{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.ENTER_EMAIL" | translate }}</p>
                          </ion-item>
                          <ion-item *ngIf="username?.hasError('pattern')" item-left>
                                <p text-left class="error">*{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.ENTER_VALID_EMAIL" | translate }}</p>
                          </ion-item>
                        <ion-item no-padding>
                              <ion-input type="email" readonly='true' placeholder="EMAIL ADDRESS" name="useremail" formControlName="username" disabled></ion-input>
                        </ion-item>
                       
                        <button class="genBtn" ion-button block color="dark" type="submit">RESET PASSWORD</button>
                  </form>
            </ion-card-header>
      </ion-list>

      <!-- <ion-list *ngIf="!isOtpMatched">
            <ion-card-header padding>
                  <h2>Reset Password Page</h2>
                  <p>Enter your new Password</p>
                  <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
                        <ion-item no-padding>
                              <ion-input type="password" placeholder="NEW PASSWORD" name="password" formControlName="Password"></ion-input>
                        </ion-item>
                        <ion-item *ngIf="Password?.hasError('required') && Password?.touched" item-left>
                              <p text-left> *{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.ENTER_PASSWORD" | translate }}</p>
                        </ion-item>
                        <ion-item *ngIf="Password?.hasError('pattern')" item-left>
                              <p text-left>*{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.PASSWORD_SHOULD_CONTAIN" | translate }}</p>
                        </ion-item>
                        <button ion-button block color="dark" type="submit">Save</button>
                  </form>
            </ion-card-header>
      </ion-list> -->
</ion-content>

<mymodal #reset>
      <ion-grid>
            <p text-center>We've sent an email to {{forgotPassowrdForm.value.username}} verify your address.</p>
            <ion-row>
                  <ion-col col-12>
                        <button ion-button  (click)="closeModal()">CLOSE</button>
                  </ion-col>
                  <!-- <ion-col col-6>   
                        <button ion-button><a href="mailto:*">CHECK NOW</a></button>
                  </ion-col> -->
            </ion-row>
      </ion-grid>
</mymodal>
