page-maps {

    .scroll-content {
        top: 0px !important;
    }
    .spur-coordinates {
        display: none;
    }
    .searchbar-search-icon {
        left: 10px !important;
        top: 10px !important;
    }
    .spur-tooltip-content h4 {
        cursor: pointer;
    }
    .main {
        position: relative;
        #youarehere {
            z-index: 9999;
            left: 50%;
            top: 50%;
            margin-top: -90px;
            margin-left: -60px;
            display: block;
            .spur-tooltip-triangle {
                left: 50%;
            }
        }
    }
    #map2 {
        position: relative;
        ion-icon {
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 999;
            font-size: 30px;
            color: red;
        }
    }
    .searchbar-input {
        line-height: 2rem !important;
        padding: 6px 35px !important;
    }
    .searchbar {
        position: absolute;
        top: 32px;
        left: 0px;
        right: 0px;
        z-index: 9999;
        padding: 8px 10px 0 10px;
        ion-list {
            top: 89px;
            width: calc(100% - 20px) !important;
            border: 1px solid #333;
        }
    }
    input {
        height: 40px;
    }
    .list-md .item-block .item-inner {
        border-bottom: 0;
    }
    .search {
        position: relative;
        margin: 10px;
        input {
            position: absolute;
            z-index: 999;
            left: 0;
            top: 0px;
            width: 100%;
        }
    }
    ion-searchbar {
        margin-top: 10px !important;
        input {
            box-shadow: none !important;
            border: 1px solid #9b9b9b !important;
            margin: 0px 0 0 0;
        }
        button {
            padding: 0 !important;
        }
    }
    ion-list {
        background: transparent;
        position: absolute;
        top: 8%;
        border: 1px solid gray;
        left: 0;
        z-index: 99;
        max-height: 200px;
        overflow: auto;
        width: calc(100% - 20px);
        margin: auto !important;
        right: 0;
        .item {
            font-size: 1.35rem;
            min-height: 3.5rem;
            padding-left: 0px;
            text-indent: 10px;
            border-bottom: 1px solid #999 !important;
        }
    }
    ion-navbar {
        button {
            margin: 5px 0 0 5px !important;
        }
        strong {
            height: 35px;
            width: 35px;
            border: 4px solid #fbca01;
            border-radius: 50%;
            display: block;
            margin: 4px 0 0 10px;
            span {
                color: $default;
                font-size: 12px;
                display: block;
                margin: 6px 0 0 0;
                text-align: center;
            }
        }
    }
    input {
        display: block;
        width: 100%;
        border: 1px solid #9b9b9b;
        padding: 10px;
    }
    .ui-autocomplete-input {
        li {
            font-size: 16px !important;
        }
    }
    .jvectormap-container {
        background: #f2f2f2 !important;
        overflow: auto;
        touch-action: auto;
    }
    #tooltips {
        position: absolute;
        z-index: 999;
        top: 50%;
        left: 50%;
        border: 1px solid red;
        height: 150px;
        width: 200px;
        background: #ff0;
    }
    svg {
        touch-action: auto;
    }
    text {
        text-anchor: middle;
        alignment-baseline: central;
        font-family: Verdana;
        font-size: 9px;
        font-weight: normal;
        cursor: default;
        fill: #fff;
    }
    .jvectormap-tip {
        border: solid 1px #4a4a4a !important;
        border-radius: 0px !important;
        background: #fff !important;
        color: #000 !important;
        font-family: sans-serif, Verdana;
        font-size: smaller;
        padding: 10px;
        cursor: pointer;
        &::after {
            position: absolute;
            bottom: -40px;
            left: 50%;
            content: "\f1e5";
            text-align: center;
            font-weight: normal;
            font-size: 40px;
            color: #3e5158;
            cursor: pointer;
            vertical-align: middle;
            font-family: "Ionicons";
            margin-left: -10px;
        }
    }
    input {
        height: 40px !important;
    }
}