product-description {
    ion-list{
        margin-top: 30px !important;
        ion-item{
            padding:0 !important;
            .item-inner{
                border-bottom: 1px solid $dark-x;
                border-top:0 !important;
                padding: 10px 15px !important;
            }
            ion-label{
                margin: 0 !important;
            }
        }
        ion-icon{
            position: absolute;
            right: 0;
            top: 0px;
            right: 7px;
            font-size: 20px;
        }
        h3{
            font-weight: bold !important;
            font-size: 15px !important;
            margin: 5px 0 0 0 !important;
            span{
                position: relative;
                top: -5px;
            }
            img{
                height: 30px;
                width: 30px;
                display: inline-block;
                margin: 0px 5px 0 0;
                position: relative;
                top: 5px;
            }
        }
        article{
            margin: 10px 0 0 0 !important;
            border: 0 !important;
            white-space: pre-line;
            font-size: 13px;
            color: #000;
            line-height: 20px;
        }
    }
}
