page-item-details {
    .backIco{
        color:#000 !important;
    }
    ion-header{
        background: #fff !important;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.45);
        .toolbar-content {
            strong{
                color:#000 !important;
                text-transform: uppercase;
                font-size: 18px;
                position: relative;
                top: 13px;
            
            }
        }
        .toolbar-background{
            background: #fff !important;
        }
    }
    ion-card{
        margin: 0 !important;
        box-shadow: none !important;
        width: 100% !important;
    }
    p{
        color: $dark;
        margin:0;
        font-size: 15px;
        font-weight: 300 !important;
        text-transform: uppercase;
        
        strong{
            font-weight: bold;
            display: block;
        }
    }
    .bb{
        border-bottom:1px solid #ccc !important;
    }
    h6{
        font-size: 14px !important;
        color:#555 !important;
        font-weight: bold !important;
        margin:0 !important;
    }
    p{
        font-size: 10px !important;
        color:#4a4a4a !important ;
        font-weight: 300 !important;
        margin:0 !important;
    }
    h5{
        font-size: 12px !important;
        font-weight: bold !important;
        color:$secondary !important;
        margin: 10px 0 !important;
    }
    span{
        font-size: 12px !important;
        color: #4a4a4a !important;
        display: block;
        margin: 4px 0;
    }
    strong{
        font-size: 12px !important;
        color: #4a4a4a !important;
        display: block;
        margin: 4px 0;
    }
    button{
        ion-icon{
            color: $dark;
            margin: 0 0 0 5px;
        }
    }
    .listData{
        margin-top: 20px;
        ion-col{
            padding:0 !important;
            line-height: 10px;
        }
    }
}
