<!-- Generated template for the MymodalComponent component -->
<section id="myModal" *ngIf='openModal' [class.modalWidget]='openModal'>
    <div class='modalContent'>
        <div class='Modalheader'>
      <h2 class="successInfo"> {{modalTitle}} </h2>
      <ion-icon *ngIf="showclose" name="close-circle" [class.modalClose]='openModal' (click)='close()' 
      (click)='closeCliked()'></ion-icon>
      </div>
      <div [class.Modalbody]='openModal'>
        <ng-content>
        </ng-content>
      </div>
    </div>
  </section>