<ion-header>
      <ion-navbar>
            <ion-row>
                  <ion-col col-2>
                        <!-- <ion-icon name="arrow-back" class="backIco" (click)="gotoPage('HomePage')"></ion-icon> -->
                  </ion-col>
                  <ion-col col-8>
                        <figure no-margin>
                              <strong>My Account</strong>
                        </figure>
                  </ion-col>
                  <ion-col col-2>
                        <button ion-button icon-only menuToggle>
                              <ion-icon tappable name="menu"></ion-icon>
                        </button>
                  </ion-col>
            </ion-row>
      </ion-navbar>
</ion-header>


<ion-content no-padding>
      <ion-card>
            <ion-card-header padding>
                  <ion-grid no-padding>
                        <ion-row>
                              <ion-col col-8>
                                    <!-- <ion-icon name="arrow-back"></ion-icon> -->
                                    <strong>CHANGE PASSWORD</strong>
                              </ion-col>
                        </ion-row>
                  </ion-grid>
            </ion-card-header>
            <ion-card-content padding>
                  <form [formGroup]="passChangeForm" (ngSubmit)="passwordChange()">

                        <p text-left class="error" *ngIf="Password?.hasError('required') && Password?.touched"> *{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.ENTER_PASSWORD" | translate }}</p>
                        <p text-left class="error" *ngIf="Password?.hasError('pattern')">*{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.PASSWORD_SHOULD_CONTAIN" | translate }}</p>
                        <section class="pr">
                              <ion-item no-padding>
                                    <ion-input type="password" placeholder="NEW PASSWORD" name="password" formControlName="Password"></ion-input>
                              </ion-item>
                              <ion-icon *ngIf="!Password?.hasError('required')  && !Password?.hasError('pattern')" ios="ios-checkmark" class="checkCorrect"
                                    md="md-checkmark"></ion-icon>
                        </section>

                        <p text-left class="error" *ngIf="NewPassword?.touched && NewPassword?.hasError('required')"> *{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.ENTER_CONFIRM_PASSWORD" | translate }}</p>
                        <p text-left class="error" *ngIf="NewPassword?.touched && NewPassword?.hasError('MatchFields') ">*{{ "EMAIL_LOGIN_PAGE.STATIC_TEXT.PASSWORD_MISMATCH" | translate }}</p>

                        <section class="pr">
                              <ion-item no-padding>
                                    <ion-input type="password" placeholder="CONFIRM PASSWORD" name="confirmpass" formControlName="NewPassword"></ion-input>
                              </ion-item>
                              <ion-icon class="checkCorrect" *ngIf="!NewPassword?.hasError('required') && !NewPassword?.hasError('pattern') && !NewPassword?.hasError('MatchFields')"
                                    ios="ios-checkmark" md="md-checkmark"></ion-icon>
                                    <ion-icon class="checkWrong" ios="ios-close" md="md-close" *ngIf="NewPassword?.hasError('MatchFields') && NewPassword?.touched"></ion-icon>
                        </section>

                        <button class="genBtn" ion-button block color="dark" [disabled]="!passChangeForm.valid" type="submit" margin-top>RESET PASSWORD</button>
                  </form>
            </ion-card-content>
      </ion-card>
</ion-content>

<mymodal #passwordVerify>
      <ion-grid no-padding>
            <ion-row>
                  <ion-col col-12>
                        <p>Your password has been changed successfully.Please Login to continue.</p>
                        <ul>
                              <li (click)="closeModal()">
                                    <span>ok</span>
                              </li>
                        </ul>
                  </ion-col>
            </ion-row>
      </ion-grid>
</mymodal>
