<ion-card no-margin>
    <ion-grid>
        <ion-row>
            <ion-col text-center>
                <figure (click)="goto('ShopPage')">
                    <img src="assets/images/martjack/nav1.png" style="width:17px;">
                    <figcaption>
                        shop & <br> pick up
                    </figcaption>
                </figure>
            </ion-col>
            <ion-col text-center>
                <figure (click)="goto('DealsPage')">
                    <img src="assets/images/martjack/nav2.png" style="width:30px;">
                    <figcaption>
                            Deals & <br /> Offers
                    </figcaption>
                </figure>
            </ion-col>
            <ion-col text-center>
                <figure (click)="goto('StoreDirectoryPage')">
                    <img src="assets/images/martjack/nav3.png">
                    <figcaption>
                            Find a <br /> Store
                    </figcaption>
                </figure>
            </ion-col>
            <ion-col text-center>
                <figure (click)="goto('MapsPage')">
                    <img src="assets/images/martjack/nav4.png">
                    <figcaption>
                        center <br /> map
                    </figcaption>
                </figure>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-card>
