<ion-header>
  <ion-navbar  hideBackButton="true">
    <ion-row>
        <ion-col col-2 *ngIf="!showBackButton && !showProfileIcon">
            <!-- <button  ion-button icon-only icon-left (click)="navTo('FullProfilePage')">
              <ion-icon class="profile-icon" name="md-person" color="yellow"></ion-icon>
            </button> -->
        </ion-col>
      <ion-col col-2 *ngIf="!showBackButton && showProfileIcon">
          <button  ion-button icon-only icon-left (click)="navTo('FullProfilePage')">
            <ion-icon class="profile-icon" name="md-person" color="yellow"></ion-icon>
          </button>
      </ion-col>
      <ion-col col-2 *ngIf="showBackButton && !showProfileIcon">
              <ion-icon  name="arrow-back" class="backIco" (click)="goBack()"></ion-icon>
      </ion-col>
      <ion-col col-8>
          <figure no-margin>
              <img src="{{img}}" />
            </figure>
      </ion-col>
      <ion-col col-2 *ngIf="canShowMenu">
          <button ion-button icon-only menuToggle>
              <ion-icon tappable name="menu"></ion-icon>
            </button>
      </ion-col>
      <ion-col col-2 *ngIf="!canShowMenu">
          <!-- <button ion-button icon-only menuToggle>
              <ion-icon tappable name="menu"></ion-icon>
            </button> -->
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>