<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-2>
                    
            </ion-col>
            <ion-col col-8>
                <figure no-margin>
                    <img src="{{headerImg}}">
                </figure>
            </ion-col>
            <ion-col col-2>
                <button ion-button icon-only menuToggle>
                <ion-icon tappable name="menu"></ion-icon>
              </button>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>