
<ion-grid>
    <ion-row no-margin>
      <ion-col col-4>
        <h6>size</h6>
      </ion-col>
      <ion-col col-8>
        <div class="donate">
          <label class="blue">
            <input type="radio" name="one" value="one" (click)="chooseSize()">
            <span><i>{{ size.toUpperCase() }}</i></span>
          </label>
          <!-- <label class="blue">
            <input type="radio" name="one" value="one" >
            <span><i>S</i></span>
          </label>
          <label class="blue">
            <input type="radio" name="one" value="one" >
            <span><i>M</i></span>
          </label>
          <label class="blue">
            <input type="radio" name="one" value="one" >
            <span><i>L</i></span>
          </label> -->
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>